[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = sh tools for work
[access "refs/*"]
	owner = group user/Pan Xiaohua (xhuaustc)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Pan Xiaohua (xhuaustc)
	label-Verified = -1..+1 group user/Pan Xiaohua (xhuaustc)
	push = group user/Pan Xiaohua (xhuaustc)
	read = group user/Pan Xiaohua (xhuaustc)
	rebase = group user/Pan Xiaohua (xhuaustc)
	removeReviewer = group user/Pan Xiaohua (xhuaustc)
	submit = group user/Pan Xiaohua (xhuaustc)
[access "refs/heads/*"]
	create = group user/Pan Xiaohua (xhuaustc)
	push = +force group user/Pan Xiaohua (xhuaustc)
	pushMerge = group user/Pan Xiaohua (xhuaustc)
	read = group user/Pan Xiaohua (xhuaustc)
[access "refs/tags/*"]
	push = group user/Pan Xiaohua (xhuaustc)
	push = +force group user/Pan Xiaohua (xhuaustc)
